
/* ===================================================================
 * # benefits
 *
 * ------------------------------------------------------------------- */
.s-benefits{
    padding-top:12rem;
    background-color: #ffffff;
}

.s-benefits__banner{
    padding: 0;
    max-width:400px;
}

.s-benefits__banner h1{
    padding: 3.5rem 0 1rem 0;
    color: #BCDB52;
    border-bottom-style: solid;
    border-bottom-color:#BCDB52;
}

.s-benefits__content{
    padding: 3rem 1rem;
    text-align: center;

}

.s-benefits__content .display-2{
    margin-bottom:0;
}

.top-divider{
    border-bottom-style: solid;
    border-bottom-color: #18191C;
}

.bottom-divider{
    margin-top: 3rem;
}

.s-benefits__content .col-md-4{
    padding:0;
}

/* ===================================================================
 * responsive:
 * # benefits
 *
 * ------------------------------------------------------------------- */

@media only screen and (max-width:1100px){
    .s-benefits__content .display-2{
        font-size: 2.8rem;
    }
}

@media only screen and (max-width:800px){
    .s-benefits__content .display-2{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:600px){
    .s-benefits__content .top-divider{
        border-style: hidden;
    }

    .s-benefits__content .top-divider,
    .s-benefits__content .bottom-divider{
        margin:0;
    }
    .s-benefits__content .col-md-4{
        min-height:60px;
        text-align:left;
        display: flex;
        border-left-style: solid;
        border-left-width: 7px;
        border-left-color: #D65283;
        margin-bottom: 3rem;

    }
    .s-benefits__content .display-2{
        font-size: 3rem;
        display: inline-block;
        margin: auto 0 auto 1rem;
    }

    .s-benefits__content p{
        display:inline-block;
        margin:auto 0;
        padding-left: 3rem;
    }
}


/* ===================================================================
 * # Energy consumption
 *
 * ------------------------------------------------------------------- */
.s-consumption{
    background-color: #FBF8F2;
}

.s-consumption .jumbotron{
    background-color: #FBF8F2;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}

.s-consumption .address{
    margin: 3rem 0;
}

.s-consumption .details{
    right:0;
    max-width:400px
}

.s-consumption .details div div{
    text-align: center;
    padding:0;
}

.s-consumption .details p{
    margin:0;
}
.s-consumption .map-wrap{
    max-height:300px;
    margin: 3rem 1rem 0 1rem;
}

/* ===================================================================
 * # System overview
 *
 * ------------------------------------------------------------------- */

.s-system{
    padding: 2rem 5rem;
}

.s-system .component-details h3{
    display:inline-block;
    margin: 0 2rem;
}

.s-system .component{
    display:inline-block;
}

.s-system .component h4,
.s-system .component p{
    margin:0;
}

.banners .row{
    margin:3rem 0;
}

.s-system .banner{
    background-color: #D65283;
}

.s-system .banner h2,
.s-system .banner p{
    margin:0;
    color: #ffffff;
}

.s-system .banner h2{
    font-weight:600;
}

.s-system .banner__1{
    text-align: right;
}

.banner__2 .row{
    margin:0;
}

.banner__2 div div{
    margin:1.5rem 0;
    padding:0;
}

.banner__2 h2{
    width:111px;
    line-height: 3rem;
}

.banner__2 .banner__2_center{
    float:right;
}

.banner__2 .banner__2_right{
   float:right;
}

/* ===================================================================
 * responsive:
 * # System Overview
 *
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px){
    .s-system{
        padding: 2rem .5rem 2rem .5rem;
    }

    .s-system .components-list{
       min-width: 50%;
    }

    .s-system .banners{
        max-width: 50%;
    }
    .s-system .banner__1{
        min-width: 75%;
    }

    .s-system .banner__2{
        min-width: 95%;
    }

    .s-system .banner__3{
        min-width: 60%;
    }
}

@media only screen and (max-width: 800px){
    .s-system .row{
        padding: 0 .5rem;
        width:100%;
    }

    .s-system .components-list ul{
        margin-bottom: 0;
    }

    .s-system .component-details{
        margin-bottom:2rem;
    }

    .s-system .component-details .component,
    .s-system .component-details h3{
        display:block;
    }

    .s-system .component-details .display-2{
        margin: 0 .5rem;
    }

    .s-system .banners .row{
        margin: 1rem 0;
    }

    .s-system .banner{
        max-width:250px;
        flex:0 0 auto;
        margin: 3rem auto;
        text-align: center;
    }

    .s-system .banner .display-2{
        display: block;
        margin: 1rem auto;
    }

    .s-system .banner p{
        display: block;
        margin: 1rem auto;
    }

    .s-system .banner__2{
        padding: 0 .5rem
    }

    .s-system .banner__2 .col-md-4{
        display:block;
        max-width: none;
        margin:auto
    }

    .s-system .banner__2 .col-md-8{
        display: block;
        max-width: none;
        margin: auto;
    }
}

@media only screen and (max-width: 600px){
    .s-system .components-list,
    .s-system .banners{
        width: auto;
    }

    .s-system .banner{
        margin: 0 auto;
    }
}
/* ===================================================================
 * # Finances
 *
 * ------------------------------------------------------------------- */

.s-finance .line__dotted{
    border-bottom-color: #Ffffff;
    border-bottom-style: dotted;
}

.line__dotted.line__dotted-dark{
    border-bottom-color: #18191C;
    min-width: 14rem;
}

.s-finance .col{
    padding:0;
}

/*Pricing Summary*/

.s-finance__price-summary{
    background-color: #4574CC;
    z-index:1;
    margin: 3rem 0 0 5rem;
    padding: 1.5rem 2rem;
    width:400px;
    height:1000px;
    position:absolute;
}

.s-finance__price-summary h2{
    color:#ffffff;
    margin: 1rem 0 1rem 0;
}

.s-finance__price-summary li{
    margin-bottom: 3rem;
}

.s-finance__price-summary h3,
.s-finance__price-summary p,
.s-finance__price-summary h4{
    color: #ffffff;
    margin:0;

}

.s-finance__price-summary .first__p{
    margin:0;
}

.s-finance__price-summary .second__p{
    padding-left:2rem;
    margin-bottom:1rem;
}

/*Financing overview*/

.s-finance__financial-overview{
    background-color: #FBF8F2;
    z-index:-1;
    margin:0;
    padding: 5rem 3rem 3rem 55rem;
    width:100%;
}

.s-finance__financial-overview li{
    margin-bottom: 6rem;
}

.s-finance__financial-overview .simple_header{
    font-family: 'roboto', sans-serif;
    font-weight: normal;
}

.s-finance__financial-overview h5{
    margin:0;
}

.s-finance__financial-overview .stand__outs{
    text-align: center;
}

.s-finance__financial-overview .stand__outs h3{
    margin:0;
}

/*Buttons*/

.s-finance__buttons{
    padding:1.5rem 5rem;
    background-color: #ffffff;
}

.s-finance__buttons button{
    margin:2rem;
    min-width: 175px;
}

.s-finance__buttons .btn-outline--primary{
    font-size: 1.3rem;
}

.s-finance__buttons .btn--primary{
    font-size: 2.2rem;
}

/*Provided*/

.s-finance__provided{
    margin: 2rem 5rem
}

.s-finance__provided .d-inline{
    min-width:350px;
    background-image: url("../images/braketed_square.svg");
    background-repeat: no-repeat;
    margin: 0 1.5rem 0 1.5rem;
}

.s-finance__provided .info_container{
    margin: 2.5rem 5rem 1.5rem 2rem;
    width:250px;
}

.s-finance__provided .p_info{
    margin-left:3.5rem;
}
.s-finance__provided .info{
    display: inline-block;
}

.s-finance__provided h3{
    margin-bottom:1rem;
}

.s-finance__provided img{
    margin-bottom: .5rem;
}
.s-finance__provided p{
    margin-bottom:.5rem;
}

/*Small Print*/
.s-finance__small-print{
    position:relative;
    margin: 7rem 4rem 1.5rem 4rem;
    font-size: small;
    line-height: 2rem;
    color: #373A43;
}

/* ===================================================================
 * responsive:
 * # Finances
 *
 * ------------------------------------------------------------------- */