
/* ===================================================================
 * # benefits
 *
 * ------------------------------------------------------------------- */
.s-benefits{
    padding-top:12rem;
    background-color: #ffffff;
}

.s-benefits__banner{
    padding: 0;
    max-width:400px;
}

.s-benefits__banner h1{
    padding: 3.5rem 0 1rem 0;
    color: #BCDB52;
    border-bottom-style: solid;
    border-bottom-color:#BCDB52;
}

.s-benefits__content{
    padding: 3rem 1rem;
    text-align: center;

}

.s-benefits__content .display-2{
    margin-bottom:0;
}

.top-divider{
    border-bottom-style: solid;
    border-bottom-color: #18191C;
}

.bottom-divider{
    margin-top: 3rem;
}

.s-benefits__content .col-md-4{
    padding:0;
}

/* ===================================================================
 * responsive:
 * # benefits
 *
 * ------------------------------------------------------------------- */

@media only screen and (max-width:1100px){
    .s-benefits__content .display-2{
        font-size: 2.8rem;
    }
}

@media only screen and (max-width:900px){
    .s-benefits__content .display-2{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:600px){
    .s-benefits__content .top-divider{
        border-style: hidden;
    }

    .s-benefits__content .top-divider,
    .s-benefits__content .bottom-divider{
        margin:0;
    }
    .s-benefits__content .col-md-4{
        min-height:60px;
        text-align:left;
        display: flex;
        border-left-style: solid;
        border-left-width: 7px;
        border-left-color: #D65283;
        margin-bottom: 3rem;

    }
    .s-benefits__content .display-2{
        font-size: 3rem;
        display: inline-block;
        margin: auto 0 auto 1rem;
    }

    .s-benefits__content p{
        display:inline-block;
        margin:auto 0;
        padding-left: 3rem;
    }
}


/* ===================================================================
 * # Energy consumption
 *
 * ------------------------------------------------------------------- */
.s-consumption{
    background-color: #FBF8F2;
}

.s-consumption .jumbotron{
    background-color: #FBF8F2;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}

.s-consumption .address{
    margin: 3rem 0;
}

.s-consumption .details{
    right:0;
    max-width:400px
}

.s-consumption .details div div{
    text-align: center;
    padding:0;
}

.s-consumption .details p{
    margin:0;
}
.s-consumption .map-wrap{
    max-height:300px;
    margin: 3rem 1rem 0 1rem;
}

/* ===================================================================
 * # System overview
 *
 * ------------------------------------------------------------------- */
.s-system{
    padding: 2rem 5rem;
}

/* Component Details */
.s-system .component-details h3{
    display:inline-block;
    margin: 0 2rem;
}

.s-system .component{
    display:inline-block;
}

.s-system .component h4,
.s-system .component p{
    margin:0;
}
/* Component Details -------------------------------- end */

/* Banners*/
.banners .row{
    margin:3rem 0;
}

.s-system .banner{
    background-color: #D65283;
}

.s-system .banner h2,
.s-system .banner p{
    margin:0;
    color: #ffffff;
}

.s-system .banner h2{
    font-weight:600;
}

.s-system .banner__1{
    text-align: right;
}

.banner__2 .row{
    margin:0;
}

.banner__2 div div{
    margin:1.5rem 0;
    padding:0;
}

.banner__2 h2{
    width:111px;
    line-height: 3rem;
}

.banner__2 .banner__2_center{
    float:right;
}

.banner__2 .banner__2_right{
   float:right;
}
/* Banners ----------------------------------- end */

/* ===================================================================
 * responsive:
 * # System Overview
 *
 * ------------------------------------------------------------------- */
@media only screen and (min-width: 900px) and (max-width: 1200px){
    .s-system .banners{
        max-width: 50%;
    }
}
@media only screen and (max-width: 1200px){
    .s-system{
        padding: 2rem .5rem 2rem .5rem;
    }

    /* Banners*/
    .s-system .banner__1{
        min-width: 75%;
    }

    .s-system .banner__2{
        min-width: 95%;
    }

    .s-system .banner__3{
        min-width: 60%;
    }
    /* Banners ------------------------------------- end */
}

@media only screen and (max-width: 900px){
    .s-system .row{
        padding: 0 .5rem;
        width:100%;
    }

    /* Components List */
    .s-system .components-list{
        max-width: 60%;
        width:auto;
    }

    .s-system .components-list ul{
        margin-bottom: 0;
    }

    .s-system .component-details{
        margin-bottom:2rem;
    }

    .s-system .component-details .component,
    .s-system .component-details h3{
        display:block;
    }

    .s-system .component-details .display-2{
        margin: 0 .5rem;
    }
    /* Components List ------------------------------------ end */

    /* Banners */
    .s-system .banners{
        max-width: 60%;
        width: auto;
    }

    .s-system .banners .row{
        margin: 1rem 0;
    }

    .s-system .banner{
        max-width:250px;
        flex:0 0 auto;
        margin: 3rem auto;
        text-align: center;
    }

    .s-system .banner .display-2{
        display: block;
        margin: 1rem auto;
    }

    .s-system .banner p{
        display: block;
        margin: 1rem auto;
    }

    .s-system .banner__2{
        padding: 0 .5rem
    }

    .s-system .banner__2 .col-md-4{
        display:block;
        max-width: none;
        margin:auto
    }

    .s-system .banner__2 .col-md-8{
        display: block;
        max-width: none;
        margin: auto;
    }
    /* Banners ------------------------------------ end */
}

@media only screen and (max-width: 600px){
    .s-system .components-list,
    .s-system .banners{
        width: 100%;
        max-width: none;
    }

    /* Banners*/
    .s-system .banner{
        margin: 0 auto;
    }

    .s-system .banner__2{
        width:auto;
    }

    .s-system .banner__2 .h2{
        display: inline-block;
        float: none;
    }

    .s-system .banner__2 .banner__2_center{
        width: initial;
    }
    /* Banners -------------------------------------- end */

}

@media only screen and (max-width: 400px){
    /* Banners */
    .s-system .banner__2 .banner__2_center{
         width:inherit;
     }
    /* Banners --------------------------------------- end */
}
/* ===================================================================
 * # Finances
 *
 * ------------------------------------------------------------------- */

.s-finance .line__dotted{
    border-bottom: 2px #ffffff dotted;
    text-align: right;
    padding:0;
    margin-bottom:5px;
}

.line__dotted.line__dotted-dark{
    border-bottom-color: #18191C;
}

.s-finance .row{
    margin: 0 0 5rem 0;
}

.s-finance .col{
    padding:0;
}

/*Pricing Summary*/
.s-finance__price-summary{
    background-color: #4574CC;
    z-index:1;
    margin: 3rem 0 0 5rem;
    padding: 1.5rem 2rem;
    width:28%;
    height:1000px;
    position:absolute;
    color:#FFFFFF;
}

.s-finance__price-summary h2,
.s-finance__price-summary h3{
    color:#ffffff;
    margin: 1rem 0 1rem 0;
}

.s-finance__price-summary ul{
    width:auto;
    margin: 5rem 2.5rem;
}

.s-finance__price-summary li{
    margin-bottom: 3rem;
}

.s-finance__price-summary h5,
.s-finance__price-summary h4{
    color:#FFFFFF;
    margin:0;
}

.s-finance__price-summary .first__p{
    margin:0;
}

.s-finance__price-summary .second__p{
    padding-left:2rem;
    margin: 0 0 0 1rem;
    color:#ffffff;
}

.s-finance__price-summary .medium{
    font-size: larger;
}

.s-finance__price-summary .stand__out{
    font-size: xx-large;
}
/* Price Summary ------------------------------ end */

/*Financing overview*/
.s-finance__financial-overview{
    background-color: #FBF8F2;
    z-index:-1;
    margin:0;
    padding: 5rem 3rem 3rem 55rem;
    width:100%;
}

.s-finance__financial-overview .row{
    width:100%;
}

.s-finance__financial-overview ul{
    width:auto;
}

.s-finance__financial-overview li{
    margin-bottom: 6rem;
}

.s-finance__financial-overview .simple_header{
    font-family: 'roboto', sans-serif;
    font-weight: normal;
}

.s-finance__financial-overview .bold_header{
    font-family: 'work-sans', sans-serif;
    font-weight: bold;
}

.s-finance__financial-overview h4{
    margin:0;
}

.s-finance__financial-overview .stand__outs{
    text-align: center;
}

.s-finance__financial-overview .stand__outs h3{
    margin:0;
}
/* Financial Overview ------------------------------ end */

/*Buttons*/
.s-finance__buttons{
    padding:1.5rem 5rem;
    background-color: #ffffff;
}

.s-finance__buttons button{
    margin:2rem;
    min-width: 175px;
}

.s-finance__buttons .btn-outline--primary{
    font-size: 1.3rem;
}

.s-finance__buttons .btn--primary{
    font-size: 2.2rem;
}
/* Buttons ------------------------------- end */

/*Provided*/
.s-finance__provided{
    margin: 2rem 0;
    display:flex;
    justify-content: flex-end;
}

.s-finance__provided .provided{
    min-width:350px;
    margin: 0 8rem 0 8rem;
    border: 10px solid transparent;
    -webkit-border-image: url("../images/braketed_square.svg") 10 10 stretch;
    -moz-border-image: url("../images/braketed_square.svg") 10 10 stretch;
    -o-border-image: url("../images/braketed_square.svg") 10 10 stretch;
    border-image: url("../images/braketed_square.svg") 10 10 stretch;
    display: flex;
    justify-content: center;

}
.s-finance__provided .info_container{
    margin: 2.5rem 5rem 1.5rem 2rem;
    width:250px;

}

.s-finance__provided .p_info{
    margin-left:3.5rem;
}
.s-finance__provided .info{
    display: inline-block;
}

.s-finance__provided h3{
    margin-bottom:1rem;
}

.s-finance__provided img{
    margin-bottom: .5rem;
}
.s-finance__provided p{
    margin-bottom:.5rem;
}
/* Provided ------------------------------ end*/

/* ===================================================================
 * # Small Print
 *
 * ------------------------------------------------------------------- */
.s-small-print{
    position:relative;
    margin: 5rem 4rem 1.5rem 4rem;
    font-size: small;
    line-height: 2rem;
    color: #373A43;
}

/* ===================================================================
 * responsive:
 * # Finances
 *
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1500px){
    /* Price Summary */
    .s-finance__price-summary{
        width:35%;
    }
    /* Price Summary ------------------------------------ end */

    /* Provided*/
    .s-finance__provided .provided{
        margin: 0 1rem;
    }
}
@media only screen and (max-width: 1200px){
    /* Pricing Summary */
    .s-finance__price-summary{
        margin-left:3rem;
        height: 1150px;
        width:39%;
    }

    .s-finance__price-summary ul{
        margin: 5rem 0;
    }
    /* Pricing Summary ------------------------------ end */

    /* Financing Overview */
    .s-finance__financial-overview{
        padding-left:45%;
    }

    .s-finance__financial-overview .info_container{
        padding:0;
    }

    .line__dotted.line__dotted-dark{
        min-width: 5rem;
    }

    .s-finance__financial-overview .banners{
        display:flex;
        align-content: center;
        padding:.5rem;
        float:right;
    }

    .s-finance__financial-overview .banners ul{
        margin:0;
    }

    .display-2{
        font-size: xx-large;
    }
    /* Financing Overview --------------------------------- end */

    /* Buttons */
    .s-finance__buttons{
        padding: 1rem 1rem;
    }

    .s-finance__buttons .btn{
        padding: 0;
        margin: .5rem;
        min-width: 130px;
        line-height: 4.2rem;
        height: 4.2rem;
    }

    .s-finance__buttons .btn-outline--primary{
        font-size: 1rem;
    }

    .s-finance__buttons .btn--primary{
        font-size: 1.8rem;
    }
    /* Buttons --------------------------------- end */

    /* Provided */
    .s-finance__provided{
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .s-finance__provided .provided.top{
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .s-finance__provided .provided.bottom{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .s-finance__provided .provided{
       margin: 3rem;
    }
    .s-finance__provided .info_container{
        margin: 1rem 1rem 1rem 1.5rem;
        line-height: 2rem;
    }
    /* Provided ---------------------------------- end */
}

@media only screen and (max-width: 992px){
    .s-finance .row{
        margin: 0 0 3rem 0;
    }

    /* Price Summary */
    .s-finance__price-summary{
        position: initial;
        width:auto;
        height:auto;
        margin:3rem;
    }

    .s-finance__price-summary ul{
        margin: 2rem 0 2rem 5rem;
    }
    /* Price Summary ---------------------------------- end */

    /* Financial Overview */
    .s-finance__financial-overview{
        padding: 3rem;
    }
    /* Financial Overview ----------------------------------- end */

    /* Provided */
    .s-finance__provided{
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
        grid-template-rows: auto;
    }
    .s-finance__provided .provided{
        margin: 0;
        min-width: initial;
    }
    .s-finance__provided .provided.top{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .s-finance__provided .provided.bottom{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    /* Provided ------------------------------------ end */
}
@media only screen and (max-width:600px){
    /* Financial Overview */
    .s-finance__financial-overview .main.row{
        margin:0;
    }
    .s-finance__financial-overview .banners ul{
        display:flex;
        justify-content: space-around;
        width:100%;
    }

    .s-finance__financial-overview .banners li{
        margin:1rem 0 0 0 ;
    }
    /* Financial Overview -------------------------------------- end */

    /* Provided */
    .s-finance__provided{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .s-finance__provided .provided {
        margin: 2rem auto;
    }
    /* Provided ------------------------------------------ end */
}

@media only screen and (max-width: 400px){
    /* Price Summary */
    .s-finance__price-summary ul{
        margin: 2rem  0 5rem .5rem;
    }

    .s-finance__price-summary li{
        padding:0;
    }

    .s-finance__price-summary .cash_total .line__dotted{
        display: none;
    }

    .s-finance__price-summary .cash_total .h2{
        font-size: xx-large;
    }
    /* Price Summary --------------------------------------------- end */

    /* Financial Overview */
    .s-finance__financial-overview .main.row{
        padding:0;
    }

    .s-finance__financial-overview .banners ul{
        flex-direction: column;
    }
}